<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Resultado</title>
</head>
<body>
    <h2>Resultado</h2>
    <p>Login: <span th:text="${aluno.login}"></span></p>
    <p>Senha: <span th:text="${aluno.senha}"></span></p>
    <p>Todos os Dados: <span th:text="${aluno}"></span></p>
    <p>Média Das Notas: <span th:text="${aluno.mediaNota}"></span></p>
    <p>Condição Final: <span th:text="${aluno.alunoAprovado2}"></span></p>
    <p>Matérias:</p>
    <ul>
        <li th:each="disciplina : ${aluno.disciplina}">
            <span th:text="${disciplina.disciplina}"></span>: <span th:text="${disciplina.nota}"></span>
        </li>
    </ul>
</body>
</html>